<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DataInfoMapper">

    <insert id="insertDataInfo" parameterType="com.example.demo.model.DataInfo">
        insert into datainfotable(dataid,dataname,size,description,`key`) values(#{dataid},#{dataname},#{size},#{description},#{key})
    </insert>
    <select id="getDataInfoById" parameterType="String" resultType="com.example.demo.model.DataInfo">
        select * from datainfotable where dataid=#{dataid}
    </select>
</mapper>