<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DataMapper">
    <insert id="insertData" parameterType="com.example.demo.model.DataAsset">
        insert into datatable(dataid,ownerid,creatorid,originaldataid, value, createdDate,scratch,available) values(#{dataId},#{ownerId},#{creatorId},#{originalId}, #{value}, #{createdDate},#{scratch},#{available})
    </insert>
    <select id="getDataIdById" parameterType="String" resultType="String">
        select dataid from datatable where ownerid=#{ownerid}
    </select>
    <select id="getDataById" parameterType="String" resultType="com.example.demo.model.DataAsset">
        select * from datatable where ownerid=#{ownerid}
    </select>
    <select id="getDataByDataId" parameterType="String" resultType="com.example.demo.model.DataAsset">
        select * from datatable where dataid=#{dataid}
    </select>
    <update id="setInvalid" parameterType="String">
        update datatable set available=false where dataid=#{dataid}
    </update>
</mapper>